@font-face {
  font-family: "Hack Nerd Font";
  src: url("routes/public/fonts/Hack/HackNerdFont.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $background_color;
  color: white;

  font-size: 175%;
  font-family: "Hack Nerd Font";

  scroll-behavior: smooth;
}

hr {
  border-color: $secondary_red_color;

  box-shadow: 0 0 10px $secondary_red_color;
}

.box {
  background-color: $secondary_background_color;

  border: solid 5px $secondary_red_color;
  box-shadow: 0 0 10px $secondary_red_color;
  border-radius: 10px;

  padding: 15px;

  width: fit-content;
  height: fit-content;
}

.row {
  display: flex;

  * {
    margin-left: 10px;
    margin-right: 10px;
  }
}

h1 {
  text-shadow: 0 0 4px white;
}

p {
  text-shadow: 0 0 4px;
}

.green-flash {
  $green-color: #00FFCA;
  color: $green-color; 

  text-shadow: 0 0 10px $green-color;

  padding: 0;
  border: 0;
  margin: 0;
}

.dark-green-flash {
  $dark-green-color: #00AB88;

  color: $dark-green-color;
  text-shadow: 0 0 10px $dark-green-color;

  padding: 0;
  border: 0;
  margin: 0;
}

.blue-flash {
  $blue-color: #1F2799;
  color: $blue-color;

  text-shadow: 0 0 10px $blue-color;

  padding: 0;
  border: 0;
  margin: 0;
}

.yellow-flash {
  $yellow-color: #FFC857;
  color: $yellow-color;

  text-shadow: 0 0 10px $yellow-color;

  padding: 0;
  border: 0;
  margin: 0;
}

.purple-flash {
  $purple-color: #612974;
  color: $purple-color;

  text-shadow: 0 0 10px $purple-color;

  padding: 0;
  border: 0;
  margin: 0;
}

.red-flash {
  $red-color: #D83416;
  color: $red-color;
  
  text-shadow: $red-color;

  padding: 0;
  border: 0;
  margin: 0;
}

button {
  font-family: "Hack Nerd Font";

  text-shadow: 0 0 4px whitesmoke;
  width: 100%;

  text-align: left;

  font-size: 100%;
  color: whitesmoke;
}

@keyframes typewriter-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  } 
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;

  width: 0;

  animation: typewriter-animation $typewriter-animation-duration;
  animation-fill-mode: forwards;
}